@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

body > .skiptranslate {
  display: none;
}

.goog-te-gadget {
  /* border: 1px solid #000; */
  /* --tw-bg-opacity: 1;
  color: rgb(243 244 246 / var(--tw-bg-opacity)); */
  color: white;
}

a {
  display: none;
}

.goog-te-combo {
  /* color: black;
  padding: 0.3rem; */
  color: black;
  padding-bottom: 4rem; 
  padding-top: 1px;
  padding-right: 1rem;
}

#google_translate_element{color: white;}
.goog-te-banner-frame.skiptranslate { display: none !important;} 
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip > .skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}
/* .goog-text-highlight {
  background-color: transparent !important;
  border: none !important; 
  box-shadow: none !important;
} */